@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.input-page{
  display: flex;
  background: #a96f62;
}

.main-input{
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.main-title{
  font-family: "Righteous", cursive;
  font-size: 30px;
  color: #FFF2E7;
  font-weight: 400;
}

.input-form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.send-ia{
  background-color: #ECD6C4;
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 20px;
  color: #2F2325;
  cursor: pointer;
  margin-bottom: 30px;
}


.form-label{
  background-color: #ECD6C4;
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 20px;
  color: #2F2325;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 13px;
  padding-left: 18px;
}

.ai-input{
  opacity: 0;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sucess-text{
  color: #FFF2E7;
  font-size: 18px;
  font-family: "Righteous", cursive;
}